@font-face {
    src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff");
    font-family: "Open Sans";
    font-weight: 400;
    font-style: normal;
}

@font-face {
    src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff");
    font-family: "Open Sans";
    font-weight: 700;
    font-style: normal;
}

body {
    margin: 0;

    font-family: "Open Sans";
}

h1 {
    margin-top: 145px;

    font-size: 45px;
    line-height: 75px;
}

a {
    text-decoration: none;
    color: #000000;
}

.header, .container, .footer {
    width: 1200px;

    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* Header */
.header-background {
    position: relative;

    min-width: 1200px;
    min-height: 523px; /* нарушает ТЗ */

    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #000000;
}

.header-background:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;

    background-color: #000000;
    opacity: 0.60;
}

.header {
    position: relative;
    z-index: 2;

    padding-top: 30px;

    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
}

.header-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.header-logo {
    width: 180px;
}

.menu-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    padding-left: 0;

    list-style: none;
}

.menu-list-item:nth-child(n+2) {
    margin-left: 35px;
}

.menu-link {
    color: #FFFFFF;
}

/* Container for main and aside*/
.container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    margin-top: 65px;
}

/* Main */
.article {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    width: 780px;
}

.article:nth-child(n+2) {
    margin-top: 60px;
}

.article-description {
    width: 365px;
}

.tag-link, .article-title {
    text-transform: uppercase;
}

.tag-link {
    font-size: 14px;
    font-weight: bold;
    color: #b59f5b;
}

.tag-link:nth-child(n+2) {
    margin-left: 20px;
}

.article-title {
    margin: 5px 0;

    font-size: 20px;
    line-height: 24px;
}

.article-date {
    margin-top: 20px;

    font-size: 12px;
    color: #888888;
}

.article-author {
    margin-left: 15px;

    font-size: 12px;
    font-weight: bold;
    color: #000000;
}

.article-text {
    margin-top: 50px;

    font-size: 15px;
    color: #000000;
}

.aside {
    width: 270px;
}

/* Footer */
.footer {

}